.pastel-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  position: relative;
}

.pastel-table {
  width: 100%;
  font-size: 10px;
  border-collapse: collapse;
}

.description-column {
  left: 0;
  width: 150px;
}

.pastel-table th:first-child,
.pastel-table td:first-child {
  position: sticky;
  left: 0;
  background-color: #f2f2f2;
  z-index: 2;
}

.pastel-table-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: scroll;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow-x: scroll;
}

.pastel-table th,
.pastel-table td {
  border: 1px solid #0a0a0a;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
}

.pastel-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.pastel-table tr:hover {
  background-color: #8dcdea;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
  word-wrap: break-word;
}

th.total-column,
td.total-column {
  background-color: rgb(5, 175, 5);
  color: white;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 48%;
}

.yellow-row {
  background-color: yellow;
}

.blue-row {
  background-color: rgba(5, 102, 193, 0.425);
  color: white;
}

.salmon-row {
  background-color: #ffb6af;
}

.light-blue-row {
  background-color: #b2dafa;
}

.g-row {
  background-color: #b0f2c2;
}

.c-row {
  background-color: #dfcae1;
}

.d-row {
  background-color: #d8bfd8;
}

.e-row {
  background-color: #b0e0e6;
}

.f-row {
  background-color: #b0e0e6;
}

.total-column {
  background-color: green;
  color: white;
  padding: 4px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .pastel-table {
    font-size: 14px;
  }

  .pastel-table th,
  .pastel-table td {
    padding: 6px;
    white-space: normal;
  }

  .pastel-table-container {
    max-height: none;
    overflow-y: auto;
  }

  .sticky-header {
    overflow-x: auto;
  }

  .description-column,
  .pastel-table th:first-child,
  .pastel-table td:first-child {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 2;
  }

  .pastel-container {
    flex-direction: column;
  }

  .table-container {
    width: 100%;
  }
}
