/* style.css */

/* Dentro do seu arquivo style.css */

.print-container {
    display: flex;
    justify-content: space-between;
    width: 210mm; /* Largura da página A4 */
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #eeebeb76;
  }

  .print-table {
    width: 100%;
    font-size: 10px;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .print-table th,
  .print-table td {
    border: 1px solid #666;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }

  .print-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
  }

  .print-table tr:hover {
    background-color: #666;
  }

  table {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #eeebeb76;
  }

  th,
  td {
    border: 1px solid #666;
    padding: 8px;
    text-align: left;
  }

  th.total-column,
  td.total-column {
    background-color: rgb(5, 175, 5);
    color: white;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }

  tr:hover {
    background-color: #666;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .table-container {
    width: 48%;
  }

  .yellow-row {
    background-color: yellow;
  }

  .green-row {
    background-color: green;
    color: white;
  }

  .blue-row {
    background-color: rgba(5, 102, 193, 0.425);
    color: white;
  }

  .total-column {
    background-color: green;
    color: white;
  }
