table {
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

tr:hover {
  background-color: #ddd;
}

.container {
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 48%;
}

.yellow-row {
  background-color: yellow;
}